#section_contactForm {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#fields {
  width: inherit;
  margin-bottom: 2rem;
}
.field {
  width: 100%;
  margin-top: 25px;
}

.field input, textarea {
  width: 100%;
  height: 45px;
  border-radius: 0.25rem;
  background: #c7c7c7;
  border: 2px solid #0b4141;
  font-size: 1.5rem;
  padding: 10px;
}

#button_container {
  margin: 2.5rem 0 2.5rem;
  width: 100%;
}

#button_container button {
  display: flex;
  width: inherit;
  height: 3.875rem;
  padding: 0.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  border-radius: 0.25rem;
  background: #949459;
  font-size: 2rem;
  color: #fff;
  border: none;
}
#form {
  max-width: 1000px;
  max-height: 1000px;
  border: 1px solid rgb(45, 141, 160);
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 1.5rem;

  #form_title {
    margin-top: 2rem;
    font-size: 2.5rem;
  }
}

.field:nth-child(4) * {
  display: block;
  width: 100%;
}

.field:nth-child(4) textarea {
  height: 200px;
}
