
#section_skills{
  display: flex;
  flex-direction: column;
  width: inherit;
  .title {
    text-align: center;
  }
}


.graphics_container{
  display: flex;
  width: inherit;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;

  .technical-skills {
    border: 1px solid salmon;
    width: 500px;
    height: 500px;
  }

  .soft-skills {
    border: 1px solid salmon;
    width: 500px;    height: 500px;

  }


}

#myRadarChart {
  background-color: white;
}

